<div class="row">
  <h1 class="page-header">
    Changer l&apos;adresse e-mail
    <div class="pull-right">
      {{#link-to 'account.index' class="btn btn-default" }}
        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
        Retour
      {{/link-to}}
    </div>
  </h1>

  <form class="form-horizontal" {{action 'update' on='submit' }}>
    {{#if controller.errorMessage}}
      <div class="alert alert-danger">
        <p>
          {{controller.errorMessage}}
        </p>
      </div>
    {{/if}}
    {{#if controller.successMessage}}
      <div class="alert alert-success">
        <p>
          {{controller.successMessage}}
        </p>
      </div>
    {{/if}}
    {{#auto-validated-input label="Nouvelle adresse e-mail" errors=controller.errors.email}}
      {{input type='email' classNames='form-control' id='email' placeholder='email@example.com' value=controller.email}}
    {{/auto-validated-input}}
    {{#auto-validated-input label="Confirmation" errors=controller.errors.emailConfirmation}}
      {{input type='email' classNames='form-control' id='email-confirmation' placeholder='email@example.com' value=controller.emailConfirmation}}
    {{/auto-validated-input}}
    {{#auto-validated-input label="Mot de passe" errors=controller.errors.password}}
      {{input type='password' classNames='form-control' id='password' placeholder='mot de passe' value=controller.password}}
    {{/auto-validated-input}}

    <div class="form-group">
      <div class="col-sm-5 col-sm-offset-3">
        <div class="btn-group col-sm-6 col-sm-offset-3">
          <button id="submit" type="submit" class="btn btn-warning" {{bind-attr disabled="controller.isInvalid"}}>Valider</button>
          {{#link-to 'account' class="btn btn-info" }}Annuler{{/link-to}}
        </div>
      </div>
    </div>
  </form>
</div>
