<div class="row">
  <h1 class="page-header">
    Changer le mot de passe
    <div class="pull-right">
      {{#link-to 'account.index' class="btn btn-default" }}
        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
        Retour
      {{/link-to}}
    </div>
  </h1>

  <form class="form-horizontal" {{action 'update' on='submit'}}>
    {{#each errorMessages as |message|}}
      <div class="alert alert-danger">
        <p>
          {{message}}
        </p>
      </div>
    {{/each}}
    {{#if successMessage}}
      <div class="alert alert-success">
        <p>
          {{successMessage}}
        </p>
      </div>
    {{/if}}
    {{#auto-validated-input label="Nouveau mot de passe" errors=errors.password}}
      {{input type='password' classNames='form-control' id='new-password' placeholder='nouveau mot de passe' value=password}}
    {{/auto-validated-input}}
    {{#auto-validated-input label="Confirmation" errors=errors.passwordConfirmation}}
      {{input type='password' classNames='form-control' id='new-password-confirmation' placeholder='nouveau mot de passe' value=passwordConfirmation}}
    {{/auto-validated-input}}
    {{#auto-validated-input label="Mot de passe actuel" errors=errors.actualPassword}}
      {{input type='password' classNames='form-control' id='actual-password' placeholder='mot de passe actuel' value=actualPassword}}
    {{/auto-validated-input}}

    <div class="form-group">
      <div class="col-sm-5 col-sm-offset-3">
        <div class="btn-group col-sm-6 col-sm-offset-3">
          <button id="submit" type="submit" class="btn btn-warning" disabled={{isInvalid}}>Valider</button>
          {{#link-to 'account' class="btn btn-info" }}Annuler{{/link-to}}
        </div>
      </div>
    </div>
  </form>
</div>
