<div>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                {{#link-to "index" classNames="navbar-brand"}}Sistearth{{/link-to}}
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    {{#view "nav-view"}}
                        {{#link-to "posts"}}Actualités{{/link-to}}
                    {{/view}}
                    {{#view "nav-view"}}
                        {{#link-to "game"}}Jeu{{/link-to}}
                    {{/view}}
                </ul>

                <div class="navbar-form navbar-right">
                    {{#if session.isAuthenticated}}
                        <a {{action 'invalidateSession'}} class="btn btn-primary">Déconnexion</a>
                    {{else}}
                        <form role="form" {{action 'authenticate' on='submit'}}>
                            <div class="form-inline">
                                {{input type='text' classNames='form-control' placeholder='Identifiant' value=identification id='identification'}}
                                {{input type='password' classNames='form-control' placeholder='Mot de passe' value=password id='password'}}
                                <button type="submit" class="btn btn-primary">Connexion</button>
                            </div>
                        </form>
                    {{/if}}
                </div>
            </div>
            <!--/.nav-collapse -->
        </div>
        <!--/.navbar -->
    </div>

    {{outlet}}
    
</div>

