<div class="panel-group" id="posts">
    {{#each itemController="post"}}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#posts" {{bind-attr href="accordionHref"}}>
                        {{title}}
                    </a>
                </h4>
            </div>
            <div {{bind-attr id="accordionId"}} class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="news-metadata">
                        <p class="text-muted"><a href="#user/1">{{author}}</a>, {{creationDate}}</p>
                    </div>
                    <div class="news-body text-justify">
                        {{body}}
                    </div>
                </div>
            </div>
        </div>
    {{/each}}
</div>